* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(18, 18, 62);
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
  list-style: none;
  margin: 0 23px;
  background-color: #1e2769;
  padding: 4px 17px;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
nav ul li:hover {
  background: white;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  /* font-size: 1.2rem; */
  color: black;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 10px 40px;
}

#element {
  color: rgb(156, 93, 216);
}
.left {
  font-size: 2rem;
}
.right {
  font-size: 1rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}
.firstSection > div {
  /*child sibling selector*/
  width: 30%;
  /* background-color: yellow; */
}
.leftSection {
  /* background-color: red; */
  font-size: 2rem;
  margin: 30px 0;
}
/* .rightSection {
     background-color: red; 
  
} */
.rightSection img {
  width: 80%;
}
.purple {
  color: rgb(156, 93, 216);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 100vh;
}
.secondSection h1 {
  font-size: 1.1rem;
}
.text-gray {
  color: grey;
}
.secondSection .box {
  background-color: white;
  width: 80vw;
  height: 2px;
  margin: 40px 0;
  display: flex;
  /* justify-content: space-between; */
}
.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 90px;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  color: grey;
  width: 150px;
  font-size: 9px;
}
footer {
  background: #0e0e1a;
  height: 233px;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
  font-size: 15px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer > div {
  width: 150px;
}
footer .footer-rights {
  text-align: center;
  color: grey;
  padding: 12px 0;
}
.leftSection button {
  /* padding: 50px 0 ; */
  margin: 15px 0;
}
.leftSection .btn {
  background-color: #1e2769;
  padding: 12px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.leftSection .btn a{
  text-decoration: none;
  color: white;
}
.leftSection .btn a:hover{
  color: black;
}
.leftSection .btn:hover {
  color: black;
  background: white;
}
.footer-first h3 {
  font-size: 16px;
}
