body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(./img/background.jpg);
    background-size: cover;
    background-position: center;
}

.contact-title {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2 {
    font-size: 16px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background: #f44336;
    cursor: pointer;
}